:root {
  --title-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #cad8da;
  --secondary-color: #383c3d;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-family: var(--title-font);
  font-size: 96px;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 36px;
  padding: 30px;
}
.heading-hero {
  background-color: var(--primary-color);
  padding: 100px 50px;
}
h3 {
  font-family: var(--title-font);
  margin-top: 100px;
}
p {
  font-family: var(--secondary-font);
}
.link-button {
  color: var(--secondary-color);
  text-decoration: none;
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  line-height: 50px;
}
.link-button:hover {
  color: #ca977e;
}
.homepage-emoji {
  color: #454f51;
  padding: 10px;
}
.about-me {
  margin-top: 80px;
}
.about-image {
  margin: 50px;
}

.project-text,
.project-image {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  background: var(--primary-color);
}
.contact-info {
  text-align: center;
  font-size: 20px;
}
.contact-info a {
  text-decoration: none;
  color: #454f51;
}
.contact-info a:hover {
  color: var(--primary-color);
}
footer {
  text-align: center;
  font-family: var(--secondary-font);
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    padding: 15px;
  }
  h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  .heading-hero {
    padding: 50px;
  }
  .introduction,
  .self-image {
    text-align: center;
  }
  .welcome-paragraph {
    font-size: 14px;
  }
  .about-me {
    margin-top: 15px;
  }
  .about-image {
    margin-top: 5px;
  }
}
