:root {
  --title-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #a2a8d3;
  --secondary-color: #454f51;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-family: var(--title-font);
  font-size: 96px;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 36px;
  padding: 30px 10px;
}
.heading-hero {
  background: url(../images/geometric.png) no-repeat 50% 30%;
  padding: 100px 50px;
}
h3 {
  font-family: var(--title-font);
  margin-top: 100px;
}
.homepage {
  background: url(../images/geometric.png) no-repeat 20% 30%;
  padding: 150px 20px 20px 20px;
}
p,
ul {
  font-family: var(--secondary-font);
}
.link-button {
  color: var(--secondary-color);
  margin-right: 10px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.link-button:hover {
  color: #a2a8d3;
}
.page-links {
  text-align: center;
  margin: 0 auto;
  font-family: var(--secondary-font);
}
.about-me {
  margin-top: 80px;
}
.about-image {
  margin: 50px;
}
.project-text,
.project-image {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 5px;
  background: var(--primary-color);
}
.project-link {
  color: var(--secondary-color);
}
.project-link:hover {
  color: #9198c4;
}
.contact-info {
  text-align: center;
  font-size: 20px;
}
.contact-info a {
  text-decoration: none;
  color: var(--secondary-color);
}
.contact-info a:hover {
  color: var(--primary-color);
}
footer {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 12px;
  margin: 100px 20px 5px;
}
footer .footer-links a {
  margin: 10px 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .footer-links a:hover {
  color: #9198c4;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    padding: 15px;
  }
  h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  .heading-hero {
    padding: 50px;
  }
  .introduction,
  .self-image {
    text-align: center;
  }
  .welcome-paragraph {
    font-size: 14px;
  }
  .about-me {
    margin-top: 15px;
  }
  .about-image {
    margin-top: 5px;
  }
}
