:root {
  --title-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #cad8da;
  --secondary-color: #383c3d;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-family: var(--title-font);
  font-size: 96px;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 36px;
  padding: 30px;
}
.heading-hero {
  background-color: var(--primary-color);
  padding: 150px 50px;
}
h3 {
  font-family: var(--title-font);
}
p {
  font-family: var(--secondary-font);
}
.link-button {
  color: var(--secondary-color);
  text-decoration: none;
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  line-height: 50px;
}
.link-button:hover {
  color: #ca977e;
}
footer {
  text-align: center;
  font-family: var(--secondary-font);
}
